.jefaturaGobierno{
    width: 20vw;
background-color: #131313;
color: white;
padding: 3vh 3vw;
border: solid 1px  #2a8842;
border-radius: 14px;
}

.institution, .autoridad{
    margin: 0;

}

.container{width: 100vw;
height: 100vh;
background-color: #2a8842;}

.title{
    margin: 0;
    width: 50w;
position: fixed;
top: 40vh;
left: 40vw;
text-align: center;
color: #131313;
}