.filtroTipo {
  z-index: 2000;
  position: fixed;
  right: 5px;
  top: 110px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5px;
  border-radius: 20px;
  padding: 2px 2px;
  justify-content: center;
  text-align: center;
  border-radius: 14px;
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  gap: 3vh;
}

.title {
  margin: 0;
  font-size: 0.8rem
}

.tipo2Ref,
.tipo1Ref,
.tipo3Ref {
  display: grid;
  grid-template-columns: 1fr;
  border: solid 1px;
  border-radius: 360px;
  padding: 6px 8px;
  cursor: pointer;
  width: 2.5vh;
}

.tipo2Ref:hover,
.tipo1Ref:hover,
.tipo3Ref:hover {
  background-color: green;
  color: black;
}

.selected {
  background-color: green;
  /* Cambia el color de fondo para el filtro seleccionado */
  color: black;
}

.tipoClass {
  font-size: 0px;
}

/*== Responsive==*/
/*height*/
/*== tablet==*/
@media (min-width: 768px) {
  .filtroTipo {
    width: 5vw;
  }
}

/*  PC  */
@media (min-width: 1200px) {

  .filtroTipo {
    width: 7vw;
    align-content: center;
    position: fixed;
    right: 14px;
    border-radius: 20px;
    padding: 1vh 0;
    justify-content: center;
    text-align: center;
    border: solid 1px;
    z-index: 1000;
    margin-top: 12vh;
  }

  .tipoClass {
    font-size: 10px;
    padding-top: 0%;
  }

  .tipo2Ref,
  .tipo1Ref,
  .tipo3Ref {
    display: grid;
    grid-template-columns: 1fr;
    border: solid 1px;
    border-radius: 360px;
    padding: 6px 8px;
    cursor: pointer;
    width: 8vh;
    margin: auto;
    padding-top: 8px;
  }
}