.Screen{
    position: fixed;
    bottom: 25vh; 
    left: 0;
    z-index: 1000;
    height: 15vh;
display:  grid;
grid-template-columns: 1fr 1fr;
width: 100vw;
margin-left: 5vw;
}

.ComisariaScreen{
 padding: 0vh 4vw;
 border: solid 1px;
 z-index: 1000;
 backdrop-filter: blur(11.2px);
 -webkit-backdrop-filter: blur(11.2px);
 margin: 0vh 2vw;
}

.autoridadData{
    padding: 2vh 4vw;
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    max-width: 30vw;

}

.title{
    margin: 0;
    font-size: 1rem;
    font-family: 'Ronnia Bold Condensed'
}


.grade{
    margin:0;
    padding-top: 1vh;
    font-size: 0.9rem;
}

.level{
    margin:0;
    padding-top: 1vh;
    font-size: 0.9rem;
}

.address{
    padding-top: 1vh;
    margin: 0;
    font-size: 0.9rem;
    font-family: 'Ronnia Thin Condensed';
}

.autority{
    padding-top: 1vh;
    margin: 0;
    font-size: 1rem;
    font-family: 'Ronnia Bold Condensed';
    max-width: 30vw;
}

.phone{
    margin: 0;
    padding-bottom: 1vh;
    font-size: 0.9rem;
    font-family: 'Ronnia Thin Condensed';

}

.age{
    margin: 0;
    font-family: 'Ronnia Thin Condensed';

}
.circs{
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 2vh;
    font-family: 'Ronnia Thin Condensed';
}

.moreButton{
    margin: 0;
    border: solid 1px #2cb54d;
    text-align: center;
    width: 10vw;
    margin-bottom: 2vh;
}
.moreButton:hover{
    color: #232128;
    background-color: #2cb54d;
}

.AutoridadesScreen{
    padding: 2vh 4vw;    
    width: 8vw;
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);

}

@media (min-width: 1000px) {
    
    .Screen{
        position: relative;
        margin-top: 25vh;
        display:  grid;
        grid-template-columns: 1fr;
        width: 20vw;
        max-width: 20vw;
        margin-left: 11vw;
        }

        .moreButton{
            width: 5vw;
        }
        .ComisariaScreen{
            width: 12vw;
            margin-top: 35vh;
            max-width: 12vw;
            padding: 0vh 1vw;

        }
        .autoridadData{
            padding: 2vh 3vw;

        }

  }
  