
.soonContainer{
    background-color: #b9ff39;
    padding: 5vh 10vw;
}

.soon{
    border: solid 1px #232128;
    padding: 5vh 10vw;
    height: 20vh;
    border-radius: 14px;
    
}

.report{
    padding: 5vh 2vw;
    margin: auto;
    height: 20vh;
    gap: 1vw;
    background-color: #232128;
    margin-top: 5vh;
    margin-bottom: 15vh;
    color: #b9ff39;
    border-radius: 14px;
}

.title, .subTitle{
    margin: 0
}

.title{
    font-size: 2rem;
}
.subTitle{
    font-size: 1rem;
}


@media (min-width: 768px) {

    .indexContainer{
        width: 80vw;
        margin-left: 8vw;
        height: 100vh;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }

    .report{
        width: 50vw;
    }

 
    .subMenu{
        height: 10vh;
        width: 15vw;
    }

    .reportData{
        height: 40vh;
        padding: 5vh 5vw;
        
    }

    .reportItem{
        padding-left: 1vw;
        padding-right: 1vw;
    }
    
    .Button{
        background-color: #b9ff39;
        width: 5vw;
        padding: 1vh 1vw;
        border-radius: 14px;
    }
}