.autorxsContainer {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Diseño de columnas para pantallas normales */
    margin: auto;
    padding: 0 6vw ;}

.autorContainer {
    background-color: #232128;
    color: #ba7aff;
    border-radius: 14px;
    margin: 2px; /* Ajusta el margen según tus necesidades */
    padding: 10px; /* Ajusta el relleno según tus necesidades */
    box-shadow: 
    inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra oscura */
   
}

.titleContainer{
height: 10vh;
padding: 8vh 10vw 3vh 14vw;
background-color: #f6f6f6;
}

.title{
    padding: 2vh 3vw;
    border: solid 1px #ba7aff;
    border-radius: 14px;
    margin: 0;
    font-size: 2rem;
    color: #ba7aff;
}

.verEnlace {
    width: 14vw;
    box-shadow: 3px 3px 0 1px #b9ff39;
    border: solid 1px ;
    display: block;
    margin-top: 2vh; /* Ajusta el margen superior según tus necesidades */
    text-align: center;
    text-decoration: none;
    color: #b9ff39; /* Ajusta el color del texto según tus necesidades */
    background-color: #232128; /* Color azul para el fondo del enlace */
    padding: 8px 12px; /* Ajusta el relleno según tus necesidades */
    border-radius: 14px;
    margin-bottom: 2vh;
}

.verEnlace:hover{
    box-shadow: 0px 0px 0 0px;
    color: #232128; /* Ajusta el color del texto según tus necesidades */
    background-color: #b9ff39; /* Color azul para el fondo del enlace */

}

.autorImagen {
border-radius: 0;
margin: auto;
}

.autorImagen {
    width: 20vw;
    height: 20vw;
     /* Ajusta el ancho según tus necesidades */
    border-radius: 14px;
    object-fit: cover;
    filter: grayscale(100%); 
    
}

   .autorNombre{
    margin: 0;
   }

@media (min-width: 768px) {
.container{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 95vw;
}

    .autorxsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Diseño de columnas para tablet */
    margin-left: 0vw;
    margin-top: 6vh;

    }
    
.autorContainer {
    width: 14vw;
    background-color: #232128;
    color: #b9ff39;
    border-radius: 14px;
    margin: 2px; /* Ajusta el margen según tus necesidades */
    padding: 10px; /* Ajusta el relleno según tus necesidades */
    box-shadow: 
    inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra oscura */
}

    .titleContainer{
        height: 100vh;
        padding: 10vh 0vw 0 14vw;
        background-color: #f6f6f6;
        }
        
        .title{
            margin: 0;
            font-size: 2rem;
            color: #ba7aff;
        }
        

/* Estilos para el nombre del autor */
.autorNombre {
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
}

.autorImagen {
    border-radius: 0;
    margin: auto;
    }
    
    .autorImagen {
        width: 8vw;
        height: 8vw;
         /* Ajusta el ancho según tus necesidades */
        border-radius: 14px;
        object-fit: cover;
        filter: grayscale(100%); 
        
    }
    .verEnlace{width: 10vw;}

.verEnlace:hover {
    background-color: #b9ff39; /* Cambia el color de fondo al pasar el mouse sobre el enlace */
}
}
