.todasContainer {
  position: absolute;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  gap: 0vh;
  max-width: 95%;
  padding-bottom: 20vh;
}

.investContainer {
  width: 90vw;
  background-color: yellowgreen;
  background-color: black;
  /* Reemplaza #color-expediente con el color que desees para expediente */
}

.dataContainer {
  padding-left: 2vw;
  padding-right: 2vw;
}

.tituloInvestigacion {
  margin: 0;
  margin-top: 0vh;
}

.fotoInvestigacion {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 25vh;
}

.autorxFecha {
  margin: 0;
}

/* TodasInvestigaciones.module.css */
.linkInvestigacion {
  border-radius: 14px;
  width: 90%;
  justify-self: left;
  background-color: black;
  /* Reemplaza #color-expediente con el color que desees para expediente */
  color: white;
  height: 50vh;
  margin: 2vh auto;
}

.span {
  color: #2a8842;
  font-size: 1.3rem;
  margin: 0;
  padding: 1vh 2vw;
  border-left: solid 4px;
  margin-top: 4vh;
}

.subTitle {
  padding-top: 8vh;
  padding-bottom: 2vh;
  font-size: 1.6rem;
  margin: 0
}

p {
  margin: 0;
  padding: 1vh 0vw;
}

.NotaContainer {
  padding: 0vh 7vw;
  text-align: justify;
}

.tituloInvestigacion {
  color: #2a8842;
}

/* Media query para tablet */
@media (min-width: 768px) {
  .todasContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1vh 1vw;
    position: absolute;
    width: 75vw;
    right: 10vw;
  }

  .linkInvestigacion {
    border-radius: 14px;
    width: 70%;
    justify-self: left;
    background-color: black;
    /* Reemplaza #color-expediente con el color que desees para expediente */
    color: white;
    height: 50vh;
    margin: 2vh auto;
  }

  .tituloInvestigacion {
    padding-top: 2vh;
  }
}