.ficha {
    height: 90vh;
}

.data, .policeData {
    margin: auto;
    padding: 5vh 10vw;
    background-color: #231c26;
    color: white;
   
}

.data {
    margin-top: 10vh;
    max-width: 60vw;
    min-height: 30vh;
    padding-top: 10vh;
    border: solid 2px green;
    box-shadow:     -5vh 6vh 15vh rgba(0, 0, 0, 0.4),
     0px 4px 8px rgba(255, 255, 255, 0.1),
    inset -5vh 6vh 15vh rgba(0, 0, 0, 0.4);
}

.policeData {
    color: green;
    margin-top: 2vh;
    max-width: 60vw;
    min-height: 20vh;
    font-size: 1.5rem;
    box-shadow: -5vh 6vh 15vh rgba(0, 0, 0, 0.4); 
}

.name {
    font-size: 3rem;
    color: rgb(195, 130, 238);
}

.age {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .data {
        width: 30vw;
        min-height: 70vh;
    }

    .policeData {
        width: 15vw;
        position: absolute;
        left: 70vw;
        top: 15vh;
        height: 50vh;
        padding: 5vh 5vw;
    }
}
