.testContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
    padding: 30vh 30vw;
}

.test{
    padding: 2vh 0vw;
margin: 0;
justify-content: center;
font-size: 3rem;
width: 30vw;
text-align: center;
color: #131313;
border: solid 1px #131313;
border-radius: 14px;
background-color: #b9ff39;
box-shadow: 4px 4px 0 1px #131313;

}
.nav{
    display: none;
}
.nueva{
    padding: 2vh 0vw;
    margin: 0;
    justify-content: center;
    font-size: 2rem;
    width: 30vw;
    text-align: center;
}

.logo{
    position: fixed;
    width: 8vw;
    top: 15vh;
    left: 41vw;
}