name: build
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Copy Secrets to .env
      env:
        VITE_API_F_KEY: ${{ secrets.VITE_API_F_KEY }}
        VITE_BASE_ID: ${{ secrets.VITE_BASE_ID }}
      run: |
        echo "VITE_API_F_KEY=$VITE_API_F_KEY" >> .env
        echo "VITE_BASE_ID=$VITE_BASE_ID" >> .env
    - uses: actions/checkout@v2
    - name: Install modules
      run: yarn
    - name: Run build
      run: yarn run build
